body {
    background: rgb(0, 0, 26);
    background: linear-gradient(90deg, rgba(0, 0, 26, 1) 0%, rgba(205, 30, 30, 1) 100%, rgba(54, 195, 240, 1) 100%);


}

.first-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20.1%;
}

.input {
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    width: 15vw;
    height: 5vh;
    border: none;
    border-radius: 4px;
    padding-left: 5px;
}

.input::placeholder {
   font-family: 'Ubuntu', sans-serif;
   padding-left: 5px;
}


.btn {
    font-size: 1rem;
    margin-left: 5px;
    border: none;
    height: 5vh;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

.second-div{
    margin-top: 20px;
}


.facts{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}